# ────────────────────────────────
# Versioning and metadata
# ────────────────────────────────
.git
.gitignore

# Docker specific
.dockerignore

# ────────────────────────────────
# Build dependencies
# ────────────────────────────────
dist.do
node_modules

# ────────────────────────────────
# Environment (contains sensitive data)
# ────────────────────────────────
*.env

# ────────────────────────────────
# Miscellaneous
# ────────────────────────────────
eslint.config.mjs
.prettierrc
README.md
LICENSE